@import url("https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap");
.article {
  font-family: "Nuosu SIL", serif;
  cursor: pointer;
  width: 350px;
  margin: 0 auto;
}

.article:hover .article_img {
  opacity: 0.8;
}
