@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
.banner_section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.banner_section h1,
h2 {
  font-family: "Oswald", sans-serif;
}

@media only screen and (max-width: 1000px) {
  .banner_section {
    min-height: 50vh;
    padding: 15px 0;
    text-align: center;
  }
}
